@import './settings/normalize';
@import './settings/fonts';
@import './settings/colors';
@import './components/navheader';
@import './components/threecolumns';
@import './components/simplesteps';
@import './components/about';


* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	font-family: $font-base;
	color: $dark;
}

.container{
    max-width: 1600px;
    margin: 0 auto;
}

Link {
	text-decoration: none;
}
