@import './settings/normalize';
@import './settings/fonts';
@import './settings/colors';
@import './components/navheader';
@import './components/threecolumns';
@import './components/simplesteps';
@import './components/about';
@import './components/whowehelp';
@import './components/contact';


* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	font-family: $font-base;
	color: $dark;
}



Link {
	text-decoration: none;
}
