.header {
  display: flex;
  justify-content: space-between;
}
.header__img {
  width: 885px;
  height: 963px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 100% 0;
     object-position: 100% 0;
}
.header__content {
  justify-self: flex-end;
  margin-top: 50px;
  margin-right: 140px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.header__content .nav__login {
  align-self: flex-end;
}
.header__content .nav__login_btn {
  color: #737373;
  font-size: 14px;
  background-color: transparent;
  border: none;
  padding: 9px 10px;
  cursor: pointer;
  border: 0.75px solid transparent;
}
.header__content .nav__login_btn:hover {
  border: 0.75px solid #FAD648;
  outline: none;
}
.header__content .nav__menu {
  width: 120%;
  margin-top: 26px;
  display: flex;
  align-items: flex-end;
  gap: 55px;
  justify-content: flex-end;
  list-style: none;
}
.header__content .nav__menu_item .link {
  text-decoration: none;
  color: #3C3C3C;
  padding: 10px;
  font-size: 18px;
  transition: 0.3s all ease-in-out;
  border: 0.75px solid transparent;
  cursor: pointer;
}
.header__content .nav__menu_item .link:hover {
  color: #737373;
  border: 0.75px solid #3C3C3C;
}
.header__content .cta {
  display: flex;
  flex-direction: column;
  align-self: flex-start;
}
.header__content .cta .header__h1 {
  margin-top: 210px;
  color: #3C3C3C;
  text-align: center;
  font-size: 38px;
  font-weight: 400;
  letter-spacing: -0.76px;
  line-height: 55px;
  max-width: 680px;
  margin-bottom: 40px;
}
.header__content .cta .header__decor {
  align-self: center;
  margin-bottom: 70px;
}
.header__content .cta .header__buttons {
  align-self: center;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 44px;
}
.header__content .cta .header__btn {
  font-family: "Open Sans", sans-serif;
  background-color: transparent;
  cursor: pointer;
  margin: 0 10px;
  color: #3C3C3C;
  width: 300px;
  height: 120px;
  font-size: 36px;
  font-weight: 300;
  text-align: center;
  line-height: 45px;
  border: 0.75px solid #3C3C3C;
  transition: 0.3s all ease-in-out;
}
.header__content .cta .header__btn:hover {
  color: #737373;
}

.three-columns {
  width: 100%;
  height: 384px;
  display: flex;
  justify-content: center;
  align-items: center;
  /*ISSUE !*/
  background-image: url("/yellow.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.three-columns .columns_box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 286px;
}
.three-columns .columns_box .column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 334px;
  text-align: center;
}
.three-columns .columns_box .column .column_number {
  font-size: 90px;
  font-weight: 300;
}
.three-columns .columns_box .column .column_title {
  font-size: 18px;
  margin: 25px 0;
  text-transform: uppercase;
  line-height: 30px;
  letter-spacing: 0.36px;
}
.three-columns .columns_box .column .column_text {
  font-family: "Merriweather", sans-serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 18px;
  letter-spacing: 0.32px;
}

.simple-steps {
  width: 100%;
  height: 624px;
  margin: 50px 0 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.simple-steps .steps__title {
  font-size: 38px;
  font-weight: 400;
  text-align: center;
  margin-bottom: 10px;
}
.simple-steps .steps__title .decor {
  padding: 20px 0;
}
.simple-steps .steps__process {
  width: 100%;
  display: flex;
  padding: 71px 0;
  background-color: #F0F1F1;
  justify-content: center;
  gap: 75px;
  text-align: center;
}
.simple-steps .steps__process .process_item {
  max-width: 200px;
  text-align: center;
}
.simple-steps .steps__process .process_item hr {
  margin: 10px auto;
  width: 50%;
  height: 1px;
  background-color: #3C3C3C;
}
.simple-steps .steps__process .process_item .process_title {
  position: relative;
  /*ISSUE*/
}
.simple-steps .steps__process .process_item .process_title::after {
  position: absolute;
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  border-bottom-style: 1px solid #3C3C3C;
  bottom: 0;
}
.simple-steps .process__btn {
  font-family: "Open Sans", sans-serif;
  background-color: transparent;
  cursor: pointer;
  color: #3C3C3C;
  width: 310px;
  height: 120px;
  font-size: 36px;
  font-weight: 300;
  text-align: center;
  line-height: 45px;
  border: 0.75px solid #3C3C3C;
  transition: 0.3s all ease-in-out;
  margin: 35px auto;
}
.simple-steps .process__btn:hover {
  color: #737373;
}

.about {
  width: 100%;
  display: flex;
}
.about__box {
  width: 50%;
  background-color: #F0F1F1;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px 150px 20px;
}
.about__box_head {
  text-align: center;
  margin-top: 80px;
}
.about__box_head_title {
  font-size: 38px;
  padding: 20px 0;
}
.about__box_text {
  font-size: 30px;
  text-align: center;
  padding: 50px 0px;
}
.about__box_sign {
  align-self: flex-end;
  margin-bottom: 50px;
}
.about__img {
  width: 50%;
  background-image: url("/People.jpg");
  background-position: center;
  background-size: cover;
}

.help {
  width: 100%;
  margin: 50px auto;
}
.help__box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.help__box_head {
  text-align: center;
}
.help__box_head_title {
  font-size: 38px;
  font-weight: 400;
  text-align: center;
  margin-bottom: 10px;
}
.help__box_head .decor {
  padding: 20px 0 0;
}
.help__box_orgs {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;
}
.help__box_orgs_buttons {
  display: flex;
  justify-content: center;
  gap: 150px;
}
.help__box_orgs_buttons .org_btn {
  font-family: "Open Sans", sans-serif;
  background-color: transparent;
  cursor: pointer;
  color: #3C3C3C;
  width: 205px;
  height: 80px;
  font-size: 24px;
  text-align: center;
  line-height: 24px;
  border: 0.75px solid transparent;
  transition: 0.3s all ease-in-out;
  margin: 70px auto;
}
.help__box_orgs_buttons .org_btn:hover {
  color: #737373;
  border: 0.75px solid #3C3C3C;
}
.help__box_orgs_desc {
  max-width: 640px;
  text-align: center;
  font-size: 22px;
  line-height: 30px;
}
.help__box_orgs_list {
  width: 100%;
  display: block;
  margin: 33px 0;
  list-style: none;
}
.help__box_orgs_list .org_item {
  padding: 10px 0;
  display: flex;
  flex-direction: column;
}
.help__box_orgs_list .org_item .info {
  padding: 5px 0;
  margin-bottom: 20px;
}
.help__box_orgs_list .org_item .needs {
  font-family: "Merriweather", sans-serif;
  font-weight: 300;
  align-self: flex-end;
}
.help__box_orgs .pagination {
  display: flex;
}
.help__box_orgs .pagination p {
  margin: 0 5px;
  padding: 10px;
  border: 0.75px solid transparent;
  transition: 0.3s all ease-in-out;
}
.help__box_orgs .pagination p:hover {
  color: #737373;
  border: 0.75px solid #3C3C3C;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
  color: #3C3C3C;
}

.container {
  max-width: 1600px;
  margin: 0 auto;
}

Link {
  text-decoration: none;
}/*# sourceMappingURL=main.css.map */