.three-columns {
	width: 100%;
	height: 384px;
	display: flex;
	justify-content: center;
	align-items: center;
	// background-color: $yellow;
	/*ISSUE !*/
	background-image: url('/yellow.png');
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;

	.columns_box {
		display: flex;
		justify-content: space-between;
		align-items: center;
		gap: 286px;

		.column {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			max-width: 334px;
			text-align: center;

			.column_number {
				font-size: 90px;
				font-weight: 300;
			}

			.column_title {
				font-size: 18px;
				margin: 25px 0;
				text-transform: uppercase;
				line-height: 30px;
				letter-spacing: 0.36px;
			}

			.column_text {
				font-family: $font-alt;
				font-weight: 300;
				font-size: 16px;
				line-height: 18px;
				letter-spacing: 0.32px;
			}
		}
	}
}
